USE [master]
GO
/****** Objeto: Database [ING] Fecha de script: 11/6/2026 19:44:54 ******/
CREATE DATABASE [ING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ING]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 11/6/2026 19:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Event] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NOT NULL,
	[Modulo] [varchar](100) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id_Event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 11/6/2026 19:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[DNI] [int] NOT NULL,
	[NombreDeUsuario] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id_Event], [Dni], [Modulo], [Criticidad], [Descripcion], [Fecha]) VALUES (7, 12345678, N'GestionUsuario', 1, N'Cambio de Clave', CAST(N'2026-05-31T11:37:23.0300000' AS DateTime2))
INSERT [dbo].[Bitacora] ([Id_Event], [Dni], [Modulo], [Criticidad], [Descripcion], [Fecha]) VALUES (26, 11223344, N'GestionUsuario', 1, N'Cambio de Clave', CAST(N'2026-05-31T12:15:38.5900000' AS DateTime2))
INSERT [dbo].[Bitacora] ([Id_Event], [Dni], [Modulo], [Criticidad], [Descripcion], [Fecha]) VALUES (33, 12345678, N'Login', 4, N'Inicio de Sesion', CAST(N'2026-05-31T12:54:42.9133333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Usuarios] ([DNI], [NombreDeUsuario], [Nombre], [Apellido], [Contraseña], [Rol], [Bloqueado], [Estado]) VALUES (11111111, N'admin', N'Gabriel', N'Avalos', N'$2a$11$LlkJsTOunUJzM3zyLrOwS.I32U0Jk.11azp9REo14wCYdmepKLA12', N'Administrador', 0, 1)
INSERT [dbo].[Usuarios] ([DNI], [NombreDeUsuario], [Nombre], [Apellido], [Contraseña], [Rol], [Bloqueado], [Estado]) VALUES (11223344, N'ff', N'ff', N'ff', N'$2a$11$HdoH6lVfY6Y/CWZKG1Wo2Okzmgj9SjwOKVg3KfGNwY6eaLBzpIIlS', N'Usuario', 0, 0)
INSERT [dbo].[Usuarios] ([DNI], [NombreDeUsuario], [Nombre], [Apellido], [Contraseña], [Rol], [Bloqueado], [Estado]) VALUES (12345678, N'facuM', N'Facundo', N'Mateo', N'$2a$11$7KMAMQxIVUYh45vxvSebq.ehQkz4UCrQ.uFluGtRiFqoz6MW7YI8i', N'Administrador', 1, 0)
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuarios] FOREIGN KEY([Dni])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuarios]
GO
USE [master]
GO
