USE [master]
GO
/****** Objeto: Database [ING] Fecha de script: 25/6/2026 20:38:53 ******/
CREATE DATABASE [ING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ING]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Event] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NOT NULL,
	[Modulo] [varchar](100) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id_Event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[ID_Familia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_Familia] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Familia](
	[ID_FamiliaPadre] [int] NOT NULL,
	[ID_FamiliaHija] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FamiliaPadre] ASC,
	[ID_FamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_Perfil] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Perfil](
	[ID_Perfil] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[ID_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil_Permiso] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Permiso](
	[ID_Perfil] [int] NOT NULL,
	[ID_Permiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC,
	[ID_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[ID_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso_Boton] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Boton](
	[ID_PermisoBoton] [int] IDENTITY(1,1) NOT NULL,
	[NombreFormulario] [nvarchar](120) NOT NULL,
	[NombreControl] [nvarchar](120) NOT NULL,
	[NombrePatente] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Permiso_Boton] PRIMARY KEY CLUSTERED 
(
	[ID_PermisoBoton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso_Familia] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Familia](
	[ID_Permiso] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Permiso] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 25/6/2026 20:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[DNI] [int] NOT NULL,
	[NombreDeUsuario] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
	[ID_Perfil] [int] NOT NULL,
	[Idioma] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id_Event], [Dni], [Modulo], [Criticidad], [Descripcion], [Fecha]) VALUES (7, 12345678, N'GestionUsuario', 1, N'Cambio de Clave', CAST(N'2026-05-31T11:37:23.0300000' AS DateTime2))
INSERT [dbo].[Bitacora] ([Id_Event], [Dni], [Modulo], [Criticidad], [Descripcion], [Fecha]) VALUES (26, 11223344, N'GestionUsuario', 1, N'Cambio de Clave', CAST(N'2026-05-31T12:15:38.5900000' AS DateTime2))
INSERT [dbo].[Bitacora] ([Id_Event], [Dni], [Modulo], [Criticidad], [Descripcion], [Fecha]) VALUES (33, 12345678, N'Login', 4, N'Inicio de Sesion', CAST(N'2026-05-31T12:54:42.9133333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (1, N'Gestion Usuarios Botones')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (2, N'Usuario Basico')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (3, N'Usuarios')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[Familia_Familia] ([ID_FamiliaPadre], [ID_FamiliaHija]) VALUES (4, 2)
GO
INSERT [dbo].[Familia_Perfil] ([ID_Perfil], [ID_Familia]) VALUES (1, 1)
INSERT [dbo].[Familia_Perfil] ([ID_Perfil], [ID_Familia]) VALUES (1, 2)
INSERT [dbo].[Familia_Perfil] ([ID_Perfil], [ID_Familia]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([ID_Perfil], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Perfil] ([ID_Perfil], [Nombre]) VALUES (2, N'Usuario')
INSERT [dbo].[Perfil] ([ID_Perfil], [Nombre]) VALUES (3, N'Medico')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[Perfil_Permiso] ([ID_Perfil], [ID_Permiso]) VALUES (1, 1)
INSERT [dbo].[Perfil_Permiso] ([ID_Perfil], [ID_Permiso]) VALUES (1, 2)
INSERT [dbo].[Perfil_Permiso] ([ID_Perfil], [ID_Permiso]) VALUES (2, 11)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([ID_Permiso], [Nombre]) VALUES (1, N'Ver Bitacora')
INSERT [dbo].[Permiso] ([ID_Permiso], [Nombre]) VALUES (2, N'Ver Gestion Usuarios')
INSERT [dbo].[Permiso] ([ID_Permiso], [Nombre]) VALUES (3, N'Crear Usuario')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso_Boton] ON 

INSERT [dbo].[Permiso_Boton] ([ID_PermisoBoton], [NombreFormulario], [NombreControl], [NombrePatente]) VALUES (1, N'MenuPrincipal', N'btnReportes', N'Ver Bitacora')
INSERT [dbo].[Permiso_Boton] ([ID_PermisoBoton], [NombreFormulario], [NombreControl], [NombrePatente]) VALUES (2, N'MenuPrincipal', N'btnUsuarios', N'Ver Gestion Usuarios')
INSERT [dbo].[Permiso_Boton] ([ID_PermisoBoton], [NombreFormulario], [NombreControl], [NombrePatente]) VALUES (3, N'GestionUsuario', N'btnCrear', N'Crear Usuario')
SET IDENTITY_INSERT [dbo].[Permiso_Boton] OFF
GO
INSERT [dbo].[Permiso_Familia] ([ID_Permiso], [ID_Familia]) VALUES (2, 4)
INSERT [dbo].[Permiso_Familia] ([ID_Permiso], [ID_Familia]) VALUES (3, 1)
INSERT [dbo].[Permiso_Familia] ([ID_Permiso], [ID_Familia]) VALUES (3, 4)
GO
INSERT [dbo].[Usuarios] ([DNI], [NombreDeUsuario], [Nombre], [Apellido], [Contraseña], [Bloqueado], [Estado], [ID_Perfil], [Idioma]) VALUES (11111111, N'admin', N'Gabriel', N'Avalos', N'$2a$11$/NoIVLCLY7koIkrMQ3vdN.mxlWJgnIrulpHVeAG01sYj8pzej3T1W', 0, 1, 1, N'English')
INSERT [dbo].[Usuarios] ([DNI], [NombreDeUsuario], [Nombre], [Apellido], [Contraseña], [Bloqueado], [Estado], [ID_Perfil], [Idioma]) VALUES (11223344, N'ff', N'ff', N'ff', N'$2a$11$HdoH6lVfY6Y/CWZKG1Wo2Okzmgj9SjwOKVg3KfGNwY6eaLBzpIIlS', 0, 0, 2, N'Español')
INSERT [dbo].[Usuarios] ([DNI], [NombreDeUsuario], [Nombre], [Apellido], [Contraseña], [Bloqueado], [Estado], [ID_Perfil], [Idioma]) VALUES (12345678, N'facuM', N'Facundo', N'Mateo', N'$2a$11$7KMAMQxIVUYh45vxvSebq.ehQkz4UCrQ.uFluGtRiFqoz6MW7YI8i', 0, 0, 1, N'Español')
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Formulario_Control] Fecha de script: 25/6/2026 20:38:53 ******/
ALTER TABLE [dbo].[Permiso_Boton] ADD  CONSTRAINT [UQ_Formulario_Control] UNIQUE NONCLUSTERED 
(
	[NombreFormulario] ASC,
	[NombreControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuarios] FOREIGN KEY([Dni])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuarios]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Perfil]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Perfil]  WITH CHECK ADD FOREIGN KEY([ID_Perfil])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD FOREIGN KEY([ID_Perfil])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD FOREIGN KEY([ID_Permiso])
REFERENCES [dbo].[Permiso] ([ID_Permiso])
GO
ALTER TABLE [dbo].[Permiso_Familia]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Permiso_Familia]  WITH CHECK ADD FOREIGN KEY([ID_Permiso])
REFERENCES [dbo].[Permiso] ([ID_Permiso])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([ID_Perfil])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD  CONSTRAINT [CHK_NoAutoFamilia] CHECK  (([ID_FamiliaPadre]<>[ID_FamiliaHija]))
GO
ALTER TABLE [dbo].[Familia_Familia] CHECK CONSTRAINT [CHK_NoAutoFamilia]
GO
USE [master]
GO
